body {
  background-image: url("home.jpg");
  background-size: cover;
  height: 100vh;
  max-width: 100%;
}

nav ul {
  margin-left: auto;
}

#brand {
  font-weight: 900;
  font-size: xx-large;
  color: darkviolet;
}
nav ul li {
  margin-right: 75px;
  font-size: large;
}

nav ul li a {
  color: Black !important;
}

nav ul li a.active {
  color: darkcyan !important;
  font-weight: bolder;
}
nav ul li a:hover {
  color: blue !important;
  font-weight: bolder;
}
img {
  width: auto;
}

h1 {
  color: white;
}

p {
  color: lightcyan;
}

#button {
  background-color: rgb(252, 115, 229);
  border-radius: 10px;
  border: 2px solid rgb(10, 10, 10);
  transition: width 5s;
}

#button:hover {
  width: 150px;
  border-radius: 20px;
}

.grid1 {
  display: grid;
  grid-template-columns: 0.75fr 1.25fr;
  grid-template-rows: 1fr;
  margin-top: 7rem;
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: center;
  height: 90vh;
}
.intro {
  padding-top: 50%;
}

.caro {
  padding-top: 10%;
}

#button2 a {
  text-decoration: none;
  color: black;
}

#button2 a:hover {
  color: blue;
}

.social_media {
  display: flex;
  justify-content: center;
  gap: 10%;
  margin-top: 10%;
}
.social_media a {
  color: aliceblue;
  transition: all 2s;
}
.social_media a:hover {
  transform: scale(2);
  color: yellow;
}
footer {
  background-color: black;
  margin-top: 27px;
}

footer ul {
  list-style-type: none;
  color: white;
}

.footer {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 20px;
  justify-content: space-around;
}

#link1,
#link2 {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 762px) {
  .grid1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-top: 7rem;
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: center;
    height: 90vh;
  }
  .intro {
    padding-top: 60%;
  }
  .footer {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
  }
}
